@font-face{
	font-family: @regular-fontFamily;
	src: url(../fonts/DINPro_regular.ttf);
}

@font-face{
	font-family: @medium-fontFamily;
	src: url(../fonts/DINPro_medium.ttf);
}

@font-face{
	font-family: @bold-fontFamily;
	src: url(../fonts/DINPro_bold.ttf);
}